
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link runat="server" rel="shortcut icon" href="~/favicon2.ico" type="image/x-icon" />
    <link runat="server" rel="icon" href="~/favicon2.ico" type="image/ico" />
    <title>CreateAccount - NoVa Fish Store</title>
</head>
<body>
</body>
</html>
