
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Data - NoVa Fish Store</title>
    <link href="~/css/account-style.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link runat="server" rel="shortcut icon" href="~/favicon2.ico" type="image/x-icon" />
    <link runat="server" rel="icon" href="~/favicon2.ico" type="image/ico" />
</head>
<body>
    
</body>
</html>
