@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/css/home-style.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <title>Home Page</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <nav>
                <div class="menu-icon">
                    <i class="fa fa-bars fa-2x"></i>
                </div>
                <div>
                    <a class="logo" asp-area="" asp-controller="Home" asp-action="Index">NOVA FISH STORE</a>
                </div>
                <div class="menu">
                    <ul>
                        <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a asp-area="" asp-controller="Products" asp-action="Info">Products</a></li>
                        <li><a asp-area="" asp-controller="ContactUs" asp-action="Form">Contact Us</a></li>
                        <li><a asp-area="" asp-controller="Account" asp-action="Data">Account</a></li>
                        <li><a asp-area="" asp-controller="Cart" asp-action="Content">Cart</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <div class="text-container">
            <div class="text">NOVA FISH STORE</div>
        </div>
        <section>
            <h1 class="section-header">About Us</h1>
            <p>We are fish keeping enthusiasts and believe that physical fish stores and online sellers do not sufficiently explain the compatibility of different combinations of fish. Many sellers do not provide sufficient warning when buying incompatible fish at the same time. For example, betta fish that are sold in big chain stores such as Petsmart and Petco will not fully explain the requirements for these fish. Betta fish do not do well together and are needed to be kept apart but a new fish keeper may not know this and would be upset once they find out that one of their fish either dies or is hurt badly. Our goal is to design a database that will be able to support a website that can provide fish compatibility information as well as basic online shopping components for our customers. </p>
        </section>
        <div class="parallax1">
            <div class="heading1">
                Our Mission
            </div>
        </div>
        <section class="dark">
            <p>We are fish keeping enthusiasts and believe that physical fish stores and online sellers do not sufficiently explain the compatibility of different combinations of fish. Many sellers do not provide sufficient warning when buying incompatible fish at the same time. For example, betta fish that are sold in big chain stores such as Petsmart and Petco will not fully explain the requirements for these fish. Betta fish do not do well together and are needed to be kept apart but a new fish keeper may not know this and would be upset once they find out that one of their fish either dies or is hurt badly. Our goal is to design a database that will be able to support a website that can provide fish compatibility information as well as basic online shopping components for our customers. </p>
        </section>

        <div class="parallax2">
            <div class="heading2">
                Quality Guarantee
            </div>
        </div>
    </div>
    @*<div class="navbar">
        <a href="#" class="logo">NOVA Fish Store</a>
        <ul class="nav">
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a asp-area="" asp-controller="Products" asp-action="Info">Products</a></li>
            <li><a href="#contactus">Contact Us</a></li>
            <li><a href="#account">Account</a></li>
            <li><a href="#cart">Cart</a></li>
        </ul>
    </div>*@
    

    <script type="text/javascript">
        $(document).ready(function () {
            $(".menu-icon").on("click", function () {
                $("nav ul").toggleClass("showing");
            });
        });

        $(window).on("scroll", function () {
            if ($(window).scrollTop() {
                $('nav').addClass('black');
            }
            else {
                $('nav').removeClass('black');
            }
        })
    </script>
</body>
</html>

