
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="css/cart-style.css" media="screen" type="text/css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.shop.js"></script>
    <title>Content</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <nav>
                <div class="menu-icon">
                    <i class="fa fa-bars fa-2x"></i>
                </div>
                <div>
                    <a class="logo" asp-area="" asp-controller="Home" asp-action="Index">NOVA FISH STORE</a>
                </div>
                <div class="menu">
                    <ul>
                        <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a asp-area="" asp-controller="Products" asp-action="Info">Products</a></li>
                        <li><a asp-area="" asp-controller="ContactUs" asp-action="Form">Contact Us</a></li>
                        <li><a asp-area="" asp-controller="Account" asp-action="Login">Account</a></li>
                        <li><a asp-area="" asp-controller="Cart" asp-action="Content">Cart</a></li>
                    </ul>
                </div>
            </nav>
        </header>
    </div>
    <div id="site">
        <div id="content">
            <h1>Your Shopping Cart</h1>
            <form id="shopping-cart" action="cart.html" method="post">
                <table class="shopping-cart">
                    <thead>
                        <tr>
                            <th scope="col">Item</th>
                            <th scope="col">Qty</th>
                            <th scope="col" colspan="2">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <p id="sub-total">
                    <strong>Sub Total</strong>: <span id="stotal"></span>
                </p>
                <ul id="shopping-cart-actions">
                    <li>
                        <input type="submit" name="update" id="update-cart" class="btn" value="Update Cart" />
                    </li>
                    <li>
                        <input type="submit" name="delete" id="empty-cart" class="btn" value="Empty Cart" />
                    </li>
                    <li>
                        <a href="index.html" class="btn">Continue Shopping</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Cart" asp-action="Checkout" class="btn">Go To Checkout</a>
                    </li>
                </ul>
            </form>
        </div>



    </div>

</body>
</html>
