@model FishStore.Models.Product
@{
    ViewData["Title"] = "Info";
    Layout = null;
}
<style>
         .contact {
        position: relative;
        background-color: white;
        color: black;
        padding-top: 50px;
        padding-left: 10px;
        }

        /* Flex container */
        #p-flex {
            max-width: 1200px;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        /* Product items */
        div.p-flex {
            width: 25%;
        }

        div.p-flex-in {
            box-sizing: border-box;
            margin: 5px;
            padding: 10px;
            border: 1px solid #e7fcde;
            background: #f6fff2;
        }

        img.p-img {
            width: 100%;
            height: auto;
        }

        div.p-name {
            font-weight: bold;
            font-size: 1.1em;
        }

        div.p-price {
            color: #f44242;
        }

        div.p-desc {
            color: #888;
            font-size: 0.9em;
        }

        button.p-add {
            background: #f46b41;
            color: #fff;
            border: none;
            width: 100%;
            padding: 10px;
            margin: 10px 5px 5px 5px;
            font-size: 1.1em;
            font-weight: bold;
            cursor: pointer;
        }
        /* Responsive */
        @@media only screen and (max-width: 1024px) {
            div.p-flex {
                width: 33%;
            }
        }

        @@media only screen and (max-width: 600px) {
            div.p-flex {
                width: 50%;
            }
        }
        /* [DOES NOT MATTER] */
        html, body {
            padding: 0;
            margin: 0;
            font-family: arial, sans-serif;
        }
</style>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/css/product-style.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <title>Product Page</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <nav>
                <div class="menu-icon">
                    <i class="fa fa-bars fa-2x"></i>
                </div>
                <div>
                    <a class="logo" asp-area="" asp-controller="Home" asp-action="Index">NOVA FISH STORE</a>
                </div>
                <div class="menu">
                    <ul>
                        <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a asp-area="" asp-controller="Products" asp-action="Info">Products</a></li>
                        <li><a asp-area="" asp-controller="ContactUs" asp-action="Form">Contact Us</a></li>
                        <li><a asp-area="" asp-controller="Account" asp-action="Login">Account</a></li>
                        <li><a asp-area="" asp-controller="Cart" asp-action="Content">Cart</a></li>
                        <li><a asp-area="" asp-controller="Blog" asp-action="Blogs">Blog</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <div class="contact">
            <section>
            </section>
        </div>
        <div class="product-container">
            <div id="p-flex">
                <div class="p-flex">
                    <div class="p-flex-in">
                        <img class="p-img" src="~/Photos/PigeonBloodDiscus.jpg" />
                        <div class="p-name">Pigeon Blood Discus</div>
                        <div class="p-price">$74.99</div>
                        <div class="p-desc"></div>
                        <button class="p-add">Add to Cart</button>
                    </div>
                </div>
                <div class="p-flex">
                    <div class="p-flex-in">
                        <img class="p-img" src="~/Photos/GoldLongfinDanio.jpg" />
                        <div class="p-name">Gold Longfin Danio</div>
                        <div class="p-price">$7.99</div>
                        <div class="p-desc"></div>
                        <button class="p-add">Add to Cart</button>
                    </div>
                </div>
                <div class="p-flex">
                    <div class="p-flex-in">
                        <img class="p-img" src="~/Photos/tigerbarb.jpg" />
                        <div class="p-name">Tiger Barb</div>
                        <div class="p-price">$3.99</div>
                        <div class="p-desc"></div>
                        <button class="p-add">Add to Cart</button>
                    </div>
                </div>
                <div class="p-flex">
                    <div class="p-flex-in">
                        <img class="p-img" src="~/Photos/BlueGourami.jpg" />
                        <div class="p-name">Blue Gourami</div>
                        <div class="p-price">$6.99</div>
                        <div class="p-desc"></div>
                        <button class="p-add">Add to Cart</button>
                    </div>
                </div>
                <div class="p-flex">
                    <div class="p-flex-in">
                        <img class="p-img" src="~/Photos/KissingGourami.png" />
                        <div class="p-name">Kissing Gourami</div>
                        <div class="p-price">$6.99</div>
                        <div class="p-desc"></div>
                        <button class="p-add">Add to Cart</button>
                    </div>
                </div>
                <div class="p-flex">
                    <div class="p-flex-in">
                        <img class="p-img" src="~/Photos/PearlGourami.jpg" />
                        <div class="p-name">Pearl Gourami</div>
                        <div class="p-price">$6.99</div>
                        <div class="p-desc"></div>
                        <button class="p-add">Add to Cart</button>
                    </div>
                </div>
                <div class="p-flex">
                    <div class="p-flex-in">
                        <img class="p-img" src="~/Photos/SunshinePleco.jpg" />
                        <div class="p-name">Sunshine Pleco</div>
                        <div class="p-price">$33.33</div>
                        <div class="p-desc"></div>
                        <button class="p-add">Add to Cart</button>
                    </div>
                </div>
                <div class="p-flex">
                    <div class="p-flex-in">
                        <img class="p-img" src="~/Photos/BristleNosePleco.jpg" />
                        <div class="p-name">Bristle Nose Pleco</div>
                        <div class="p-price">$9.99</div>
                        <div class="p-desc"></div>
                        <button class="p-add">Add to Cart</button>
                    </div>
                </div>
                <div class="p-flex">
                    <div class="p-flex-in">
                        <img class="p-img" src="~/Photos/RedZebraCichlid.jpg" />
                        <div class="p-name">Red Zebra Cichlid</div>
                        <div class="p-price">$33.33</div>
                        <div class="p-desc"></div>
                        <button class="p-add">Add to Cart</button>
                    </div>
                </div>
                <div class="p-flex">
                    <div class="p-flex-in">
                        <img class="p-img" src="~/Photos/YellowPeacockCichlid.jpg" />
                        <div class="p-name">Yellow Peacock Cichlid</div>
                        <div class="p-price">$33.33</div>
                        <div class="p-desc"></div>
                        <button class="p-add">Add to Cart</button>
                    </div>
                </div>
                <div class="p-flex">
                    <div class="p-flex-in">
                        <img class="p-img" src="~/Photos/FrontosaCichlid.jpg" />
                        <div class="p-name">Frontosa Cichlid</div>
                        <div class="p-price">$33.33</div>
                        <div class="p-desc"></div>
                        <button class="p-add">Add to Cart</button>
                    </div>
                </div>
                <div class="p-flex">
                    <div class="p-flex-in">
                        <img class="p-img" src="~/Photos/Red Jewel Cichlid.jpg" />
                        <div class="p-name">Red Jewel Cichlid</div>
                        <div class="p-price">$33.33</div>
                        <div class="p-desc"></div>
                        <button class="p-add">Add to Cart</button>
                    </div>
                </div>
                <div class="p-flex">
                    <div class="p-flex-in">
                        <img class="p-img" src="~/Photos/Electric Yellow Cichlid.jpg" />
                        <div class="p-name">Electric Yellow Cichlid</div>
                        <div class="p-price">$33.33</div>
                        <div class="p-desc"></div>
                        <button class="p-add">Add to Cart</button>
                    </div>
                </div>
                <div class="p-flex">
                    <div class="p-flex-in">
                        <img class="p-img" src="~/Photos/KoiAngelfish.jpg" />
                        <div class="p-name">Koi Angelfish</div>
                        <div class="p-price">$33.33</div>
                        <div class="p-desc"></div>
                        <button class="p-add">Add to Cart</button>
                    </div>
                </div>
                <div class="p-flex">
                    <div class="p-flex-in">
                        <img class="p-img" src="~/Photos/SilverAngelfish.jpg" />
                        <div class="p-name">Silver Angelfish</div>
                        <div class="p-price">$33.33</div>
                        <div class="p-desc"></div>
                        <button class="p-add">Add to Cart</button>
                    </div>
                </div>
                <div class="p-flex">
                    <div class="p-flex-in">
                        <img class="p-img" src="~/Photos/BlushingAngelfish.jpg" />
                        <div class="p-name">Blushing Angelfish</div>
                        <div class="p-price">$33.33</div>
                        <div class="p-desc"></div>
                        <button class="p-add">Add to Cart</button>
                    </div>
                </div>
                <div class="p-flex">
                    <div class="p-flex-in">
                        <img class="p-img" src="~/Photos/Lyretail Guppy.jpg" />
                        <div class="p-name">Lyretail Guppy</div>
                        <div class="p-price">$33.33</div>
                        <div class="p-desc"></div>
                        <button class="p-add">Add to Cart</button>
                    </div>
                </div>
                <div class="p-flex">
                    <div class="p-flex-in">
                        <img class="p-img" src="~/Photos/EndlerGuppy.jpg" />
                        <div class="p-name">Endler Guppy</div>
                        <div class="p-price">$1.99</div>
                        <div class="p-desc"></div>
                        <button class="p-add">Add to Cart</button>
                    </div>
                </div>
                <div class="p-flex">
                    <div class="p-flex-in">
                        <img class="p-img" src="~/Photos/Green Fire Tetra.jpg" />
                        <div class="p-name">Green Fire Tetra</div>
                        <div class="p-price">$3.79</div>
                        <div class="p-desc"></div>
                        <button class="p-add">Add to Cart</button>
                    </div>
                </div>
                <div class="p-flex">
                    <div class="p-flex-in">
                        <img class="p-img" src="~/Photos/Bucktooth Tetra.jpg" />
                        <div class="p-name">Bucktooth Tetra</div>
                        <div class="p-price">$4.99</div>
                        <div class="p-desc"></div>
                        <button class="p-add">Add to Cart</button>
                    </div>
                </div>
                <div class="p-flex">
                    <div class="p-flex-in">
                        <img class="p-img" src="~/Photos/5 gallon.jfif" />
                        <div class="p-name">5 gallon aquarium</div>
                        <div class="p-price">$9.99</div>
                        <div class="p-desc"></div>
                        <button class="p-add">Add to Cart</button>
                    </div>
                </div>
                <div class="p-flex">
                    <div class="p-flex-in">
                        <img class="p-img" src="~/Photos/10 gallon.jpg" />
                        <div class="p-name">10 gallon aquarium</div>
                        <div class="p-price">$14.99</div>
                        <div class="p-desc"></div>
                        <button class="p-add">Add to Cart</button>
                    </div>
                </div>
                <div class="p-flex">
                    <div class="p-flex-in">
                        <img class="p-img" src="~/Photos/20 gallon.png" />
                        <div class="p-name">20 gallon aquarium</div>
                        <div class="p-price">$29.99</div>
                        <div class="p-desc"></div>
                        <button class="p-add">Add to Cart</button>
                    </div>
                </div>
                <div class="p-flex">
                    <div class="p-flex-in">
                        <img class="p-img" src="~/Photos/29 gallon.png" />
                        <div class="p-name">29 gallon aquarium</div>
                        <div class="p-price">$44.99</div>
                        <div class="p-desc"></div>
                        <button class="p-add">Add to Cart</button>
                    </div>
                </div>
                <div class="p-flex">
                    <div class="p-flex-in">
                        <img class="p-img" src="~/Photos/40 gallon.jfif" />
                        <div class="p-name">40 gallon aquarium</div>
                        <div class="p-price">$59.99</div>
                        <div class="p-desc"></div>
                        <button class="p-add">Add to Cart</button>
                    </div>
                </div>
                <div class="p-flex">
                    <div class="p-flex-in">
                        <img class="p-img" src="~/Photos/55 gallon.jfif" />
                        <div class="p-name">55 gallon aquarium</div>
                        <div class="p-price">$69.99</div>
                        <div class="p-desc"></div>
                        <button class="p-add">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

