@model FishStore.Models.ContactUs
@{
    ViewData["Title"] = "Form";
    Layout = null;
}
<style>
    .blank {
        height: 40px;
    }
    body {
        background-color: #323232;
        color: #f2f2f2;
    }
    .contact {
        position: relative;
        background-color: #323232;
        color: #f2f2f2;
        padding-top: 7px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 30px;
        margin-bottom: 10px;
    }
    /* Flex container */
    #p-flex {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    /* Product items */
    div.p-flex {
        width: 25%;
    }

    div.p-flex-in {
        box-sizing: border-box;
        margin: 5px;
        padding: 10px;
        border: 1px solid #e7fcde;
        background: #f6fff2;
    }

    img.p-img {
        width: 100%;
        height: auto;
    }

    div.p-name {
        font-weight: bold;
        font-size: 1.1em;
    }

    div.p-price {
        color: #f44242;
    }

    div.p-desc {
        color: #888;
        font-size: 0.9em;
    }

    button.p-add {
        background: #f46b41;
        color: #fff;
        border: none;
        width: 100%;
        padding: 10px;
        margin: 10px 5px 5px 5px;
        font-size: 1.1em;
        font-weight: bold;
        cursor: pointer;
    }
    /* Responsive */
    @@media only screen and (max-width: 1024px) {
        div.p-flex {
            width: 33%;
        }
    }

    @@media only screen and (max-width: 600px) {
        div.p-flex {
            width: 50%;
        }
    }
    /* [DOES NOT MATTER] */
    html, body {
        padding: 0;
        margin: 0;
        font-family: arial, sans-serif;
    }
</style>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/css/product-style.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <title>Product Page</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <nav>
                <div class="menu-icon">
                    <i class="fa fa-bars fa-2x"></i>
                </div>
                <div>
                    <a class="logo" asp-area="" asp-controller="Home" asp-action="Index">NOVA FISH STORE</a>
                </div>
                <div class="menu">
                    <ul>
                        <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a asp-area="" asp-controller="Products" asp-action="Info">Products</a></li>
                        <li><a asp-area="" asp-controller="ContactUs" asp-action="Form">Contact Us</a></li>
                        <li><a asp-area="" asp-controller="Account" asp-action="Login">Account</a></li>
                        <li><a asp-area="" asp-controller="Cart" asp-action="Content">Cart</a></li>
                        <li><a asp-area="" asp-controller="Blog" asp-action="Blogs">Blog</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <div class="blank">

        </div>
        <div class="contact">
            <section>
                <h1 class="section-header">Issues with your order?</h1>
                <p>Our customer service guarantees a response within 48 hours! </p>
            </section>
            <form>
                <fieldset>
                    <legend>Order Issue Form</legend>
                    <p>
                        <label>Your Name: </label>
                        <input type="text"
                               id="nameInput" />
                    </p>
                    <p>
                        <label>Your Email: </label>
                        <input type="text"
                               id="emailInput" />
                    </p>
                    <p>
                        <label>Description of Order Issue</label>
                    </p>
                    <p>
                        <textarea id="descInput"
                                  rows="3"
                                  cols="80"></textarea>
                    </p>
                    <p>
                        <button type="button">Submit Order Issue</button>
                    </p>
                </fieldset>
            </form>
        </div>
       

    </div>
    
</body>
</html>


